*.iml
.gradle
local.properties
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.DS_Store
build
captures
.externalNativeBuild
.cxx
projectFilesBackup*/
.idea/misc.xml
.idea/deploymentTargetDropDown.xml
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
### Xcode ###
## User settings
ios/xcuserdata/
ios/.symlinks

## Xcode 8 and earlier
ios/*.xcscmblueprint
ios/*.xccheckout

### Xcode Patch ###
ios/*.xcodeproj/*
ios/!*.xcodeproj/project.pbxproj
ios/!*.xcodeproj/xcshareddata/
ios/!*.xcworkspace/contents.xcworkspacedata
ios//*.gcno
*.xcuserstate

### CocoaPods ###
ios/Pods

### Flutter ###
ios/Flutter/Flutter.podspec

.fvm/flutter_sdk

json/config.json